<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ImageComponent</title>
    <link rel="stylesheet" href="./styles.css" />
    <script src="./index.js"></script>
  </head>
  <body>
    <div class="Parent-Container">
      <img src="../../assets/img1.jpg" alt="img1" />
      <img src="../../assets/img2.jpg" alt="img2" />
      <img src="../../assets/img3.jpg" alt="img3" />
      <img src="../../assets/img4.jpg" alt="img4" />
      <img src="../../assets/img5.jpg" alt="img5" />
      <img src="../../assets/img6.jpg" alt="img6" />
    </div>
  </body>
</html>
