<html>
    <head>
        <title>Drink Water</title>
        <link rel="stylesheet" href="styles.css">
        <script src="index.js" defer></script>
    </head>
    <body>
        <div class="container">
            <h1>Drink Water</h1>
            <h3>Goal: 2 Liters</h3>
            <div class="glass">
                <div class="remained" id="remained">
                    <span id="liters"></span>
                </div>
                <div class="filled" id="filled">
                    <span class="filled-text"></span>
                </div>
            </div>
            <h3>Select how many glasses of water you want to drink</h3>
            <div class="small-glass">
                <div class="glass-small">250 ml</div>
                <div class="glass-small">250 ml</div>
                <div class="glass-small">250 ml</div>
                <div class="glass-small">250 ml</div>
                <div class="glass-small">250 ml</div>
                <div class="glass-small">250 ml</div>
                <div class="glass-small">250 ml</div>
                <div class="glass-small">250 ml</div>
            </div>
        </div>
    </body>
</html>